.main-content h2{
    color:aqua;
    text-align: center;
}
.main-content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    width:40%;
    height:400px;
}